h1 {
    font-family: art-nuvo, sans-serif;
    color: rgb(0, 255, 255);
    font-size: 17vw;
    text-align: center;
    text-shadow: 20px 19px 5px rgb(238, 255, 0);
    
}

h2 {
    font-family: dynamic wave, sans-serif;
    color: cyan;
    text-shadow: 5px 5px 1px rgb(0, 80, 100);
    font-size: 4vw;
}

h3 {
    font-family: fat kat, sans-serif;
    color: yellow;
    text-shadow: 10px 10px 4px rgb(8, 112, 107);
    font-size: 5vw;
    text-align: center;
}

h4 {
    font-family: art-nuvo , sans-serif;
    color: rgb(212, 0, 255);
    text-shadow: 3px 4px 1px rgb(255, 255, 0);
    font-size: 3vw;
    text-align: ;
}
p {
    font-family: comic sans ms;
    color: white;
    text-shadow: 5px 5px 2px rgb(5, 78, 75);
    font-size: 2vw;
}

body{
    background-image: url(https://i.pinimg.com/originals/c4/6d/a4/c46da417961e8e235011fd6529e0fc9e.jpg);
    
}

